<div class="post-index d-flex mx-auto justify-content-center">
  <% posts.each do |post| %>
    <div class>
      <a class="text-decoration-none text-dark" title="<%= post.title %>">
        <div class="card">
          <%= image_tag post.get_post_image, height: "200" %>
          <div class="card-body">
            <p class="card-title font-weight-bold"><%= post.name %></p>
            <p class="card-text">
              <%= post.comment %>
            </p>
          </div>
        </div>
      </a>
    </div>
  <% end %>
    <div class="item_box_space"></div>
    <div class="item_box_space"></div>
    <div class="item_box_space"></div>
</div>