<%= render "layouts/sidebar_left", posts: @sidebar_posts %>
<div class="col-8">
  <div class="row">
    <%= render "public/posts/index", posts: @posts %>
  </div>
</div>
<%= render "layouts/sidebar_right" %>