<div class="col-8">
  <% regions.each do |region| %>
    <div>
      <%= region.name %>
      <% region.prefecture.each do |prefecture| %>
        <%= prefecture.name %>
      <% end %>
    </div>
  <% end %>
</div>