<%= render "layouts/sidebar_left" %>

<div class="col-8 border">
  <% if current_user.id != params[:id] %>
    <%= render "public/users/current_user", user: @user %>
  <% else %>
    <%= render "public/users/other_user", user: @user %>
  <% end %>
</div>

<%= render "layouts/sidebar_right" %>